/* Globe */
* {
    font-family: Roboto, Arial, sans-serif;
}

/* App bar */
#head-area {
    position: fixed;
    top: 0px; 
    left: 5px;
    width: 399px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
#message-area {
    position: fixed;
    top: 0; left: 410px;
    width: calc(100%-410px);
    height: 100vh;
}

h1 {
    color: #00838f;
}
.headbar {
    background-color: #eeeeee;
    height: 56px;
}

#logo {
    background-color: #00838f;
    border-radius: 5px;
}

#message-bar {
    height: 46px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
#favorite-button {
    margin-right: 20px;
}
#fab {
    width: 44px;
    height: 44px;
    background-color: #00838f;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 #aaaaaa;
    
    font-size: 36px;
    color: white;
    text-align: center;
    line-height: 44px;
    
    position: absolute;
    top: 44px;
    left: 330px;
    
    cursor: pointer;
}
/* Channel list */
h2 {
    color: #00838f;
    font-size: smaller;
}
.channel-list {
    list-style-type: none;
}
.channel-name {
    font-weight: bold;
}

.time {
    font-size: small;
    margin-left: 3%;
}
li {
    box-sizing: border-box;
    padding: 22px;
    height: 66px;
}
.selected {
    background-color: #eeeeee;
    border-right: #00838f 2px solid;
}

/* Messages */
.message {
    background-color: #eeeeee;
    width: 75%;
}
.message-out {
    background-color: #00838f;
    width: 75%;
}

button {
    background-color: #00838f;
    color: #ffffff;
    text-transform: uppercase;
    font-size: larger;
}