/* Globe */
* {
    font-family: Roboto, Arial, sans-serif;
}
#head-area {
    position: fixed;
    top: 0; 
    left: 10px;
    width: 399px;
    height: 100vh;
}
#message-area {
    position: fixed;
    top: 0; left: 410px;
    width: calc(100%-410px);
    height: 100vh;
}

/* App bar */
h1 {
    color: #00838f;
}
.headbar {
    background-color: #eeeeee;
    height: 56px;
    padding-bottom: 5px;
}
#logo {
    background-color: #00838f;
}
#message-bar {
    height: 46px;
    padding-top: 10px;
}
#favorite-button {
    margin-left: 10px;
}

/* Channel list */
h2 {
    color: #00838f;
    font-size: smaller;
}
.channel-list {
    list-style-type: none;
}
.channel-name {
    font-weight: bold;
}

.time {
    font-size: small;
    margin-left: 3%;
}
li {
    box-sizing: border-box;
    padding: 22px;
    height: 66px;
}
.selected {
    background-color: #eeeeee;
    border-right: #00838f 2px solid;
}

/* Messages */
.message {
    background-color: #eeeeee;
    width: 75%;
}
.message-out {
    background-color: #00838f;
    width: 75%;
}

button {
    background-color: #00838f;
    color: #ffffff;
    text-transform: uppercase;
    font-size: larger;
}